
                <h1 class="inscription">{{selectedShow.CONTENT_TITLE}}</h1>
                <p class="adresse">
                    <strong class="text-danger">Adresse : </strong>
                    {{selectedShow.CNT_STORE_ADRESSE}}<br/>
                    {{selectedShow.CNT_STORE_VILLE}}
                </p>
                <p><strong class="text-danger" ng-hide="selectedShow.CNT_STORE_TEL1 == null">Téléphone : </strong> {{selectedShow.CNT_STORE_TEL1}} </p>
                <p class="description" >{{selectedShow.CONTENT_TEXT}}<br/></p>



        
