<div id="panel" class="container panel_historique">
    <div class="navbar-header">
        <button class="navbar-toggle collapsed toggle-button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><img src="img/logo_mobimeny.png" alt="" class="img-responsive "/></div>
    </div>

    <div class="media">

        <img src="{{historiqueCtrl.profile.img}}" alt="profile" class="img-circle img_profile_btn img_design">
        <div class="media-body">
            <h4 class="media-heading">{{historiqueCtrl.profile.name}}</h4>
            <a ui-sref="edit_profil"><small>Editer</small></a>
        </div>
    </div>
    <section class="bg_white">  
        <div class="panel panel-danger">
            <div class="panel-heading solde">Votre Solde au 22/09/014 est <strong>45.547 DT</strong></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item sonede">
                        <h5>Facture Sonede</h5>
                        <span>07/07/2015</span>
                    </li>
                    <li class="list-group-item virement">
                        <h5>Virement mobile</h5>
                        <span>04/06/2015</span>
                    </li>
                    <li class="list-group-item recharge">
                        <h5>Recharge Mobile Orange</h5>
                        <span>15/03/2015</span>
                    </li>
                    <li class="list-group-item steg">
                        <h5>Facture STEG</h5>
                        <span>30/05/2015</span>
                    </li>
                    <li class="list-group-item micro">
                        <h5>Micro crédit</h5>
                        <span>30/05/2015</span>
                    </li>
                </ul>
            </div>
        </div>

    </section>
</div>

<script>
//***********respensive menu***************
    var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70,
        'touch': false
    });

    // Toggle button
    document.querySelector('.toggle-button').addEventListener('click', function () {
        slideout.toggle();
    });
    
   $(".navbar-nav a").on("click", function(){
        $("body").removeClass("slideout-open");
    });
</script>